* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
}

/* HEADER */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100px;
}

.header-content {
    margin-right: 20rem;
}

button {
    width: 100px;
}

/* MAIN */
main {
    width: 100%;
    height: calc(100% - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.grid-container {
    height: 500px;
    width: 500px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.grid-item {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item.active {
    background-color: #6495ED;
    color: white;
}

.grid-item.active span {
    display: block;
}
/* FOOTER */
footer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.footer-content {
    width: 90%;
    margin: auto;
}